body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

h1 {
  padding: 24px 12px 12px 20px;
  background-color: #4b2e83;
  margin-left: 200px;
  color: white;
}

h2 {
  padding-top: 12px;
  margin-top: 24px !important;
  margin-bottom: 12px !important;
  font-weight: 600;
  display: flex;
  align-items: center;
}

h3 {
  padding-bottom: 8px;
}

h2::after {
  content: '';
  flex: 1;
  margin-left: 20px;
  height: 2px;
  background-color: #aaa;
}

a, a:link, a:visited {
  color: #4B2E83;
}

a:hover, a:focus {
  color: #331e5c;
}

section {
  overflow: hidden;
}

.affiliation {
  width: 16%;
  height: auto;
  margin-right: 12px;
}

/* People */

.person_obj {
  width: 33% !important;
  float: left;
}

.person_img {
  float: left;
  padding: 0px 20px 0px 0px;
  width: 200px;
}

.person_name {
  font-weight: 600;
}

.person_title {
  color: #595959;
  margin-bottom: 8px;
}

.row {
  width: 100%;
  padding-bottom: 16px;
}

.alum_person_obj {
  width: 25% !important;
  float: left;
}

.alum_person_img {
  float: left;
  padding: 0px 20px 0px 0px;
  width: 150px;
}

.social_icon {
  width: 28px;
  height: 28px;
  margin-left: 3px;
  margin-right: 3px;
}

#rounded_icon {
  border-radius: 17%;
}

/* Publications */

.pub_obj {
  width: 100% !important;
  float: left;
  padding: 16px;
  background: #EEEEEE;
  margin-bottom: 16px;
}

.pub_img {
  float: left;
  padding: 0px 20px 0px 0px;
  width: 16%;
}

.pub_text {
  float: right;
  width: 84%;
}

.pub_p {
  margin-bottom: 8px;
}

/* Sidebar */

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px 24px 16px 24px;
  text-decoration: none;
  font-size: 20px;
}

.sidebar a:hover:not(.active) {
  background-color: white;
  color: #4b2e83;
}

main {
  margin-left: 200px;
  padding: 0px 16px 16px 16px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  main {margin-left: 0;}
  h1 {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.active_hl a {
  color: #fff;
  background-color: #4b2e83;
}

a.active_hl {
  color: #fff;
  background-color: #4b2e83;
}

/* Miscellaneous */

#update_date {
  padding: 24px;
  color: #595959;
}

#lab_logo_sidebar {
  margin: 24px;
  width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
